// @import "../base/variables";
/* HEADER */
header{
    background-color: $color-main;
    grid-area: header;
    grid-column: span 4;

    .logo-cabecera{
        display: flex;
        justify-content: center;
        height: auto;
    
        .logo-inicio{
            display: block;
            max-width: 100%;
            width: 50%;
            min-width: 300px;
            height: auto;
        }
    }
}
/* ============================================== */